*{margin: 0; padding: 0; box-sizing: border-box;}
body{
    background-image: linear-gradient(to right, rgb(224, 110, 129),rgb(84, 36, 44));
}

header,form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

header,h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    color: white;
}

/* form ke andar jo input hai and form ke andar jo button hai usko target krna hai */
form input,form button{
    border: none;
    padding: 10px;
    outline: none;
    background-color: white;
    font-size: 20px;

}
form button{
    color:rgb(94, 28, 39) ;

}
form button:hover{
    background-color:rgb(84, 16, 25) ;
    color: white;
}
.todo-container{
    display: flex;
    justify-content: center;
     align-items: center;  /*li list ko center krne ke liye*/
} 
.todo-list{
    list-style: none;
    min-width: 25%;
}
.todo{ /*todo class defined in js code we are using this to edit li list */
    background-color: white;
    margin: 10px;
    font-size: 20px;
    padding-left: 10px;
    display: flex; /*we used display flex for cmpbtn and delbtn flexible work in row only */
    justify-self: center;
    align-items: center;

}
.cmpbtn{
    background-color:rgb(55, 186, 55);
    border: none;
    padding: 10px;
    font-size: 16px;
    color:white;
    margin-left:5px;
    border-radius: 10px;
}
.delbtn{
    background-color: rgb(203, 38, 9);
    border: none;
    padding: 10px;
    font-size: 16px;
    color:white;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 3px;

}

.todo li{
    flex : 1;  /* content and button left & right corner pr ho jayege*/
}

.fa-check,.fa-trash{
    pointer-events: none; /* don't want icon click only button clicked(REmove center icon  */
}
.todo-done{
    text-decoration: line-through; /*cross line*/
    opacity: 0.5;
}